// First line
#red {
  background-color: #ff0000;
}
#orangeRed {
  background-color: #ff4500;
}
#orange {
  background-color: #ffa500;
}
#goldenOrange {
  background-color: #ffd700;
}
#yellow {
  background-color: #ffff00;
}
#lightLime {
  background-color: #d6ff17;
}

// Second line
#yellowChartreuse {
  background-color: #adff2f;
}
#greenChartreuse {
  background-color: #7fff00;
}
#limeGreen {
  background-color: #00ff00;
}
#green {
  background-color: #008000;
}
#emerauldGreen {
  background-color: #1f9a45;
}
#mintGreen {
  background-color: #3eb489;
}

// Third line
#cyan {
  background-color: #00ffff;
}
#skyblue {
  background-color: #87ceeb;
}
#oceanBlue {
  background-color: #007fff;
}
#blue {
  background-color: #0000ff;
}
#slateBlue {
  background-color: #6a5acd;
}
#indigo {
  background-color: #4b0082;
}

// Fourth line
#blueViolet {
  background-color: #8a2be2;
}
#violet {
  background-color: #8b00ff;
}
#purple {
  background-color: #800080;
}
#magenta {
  background-color: #ff00ff;
}
#fuschiaPink {
  background-color: #ff77ff;
}
#pink {
  background-color: #ffc0cb;
}

// Fifith line
#indianRed {
  background-color: #cd5c5c;
}
#brown {
  background-color: #a52a2a;
}
#sienna {
  background-color: #8b4513;
}
#beige {
  background-color: #f5f5dc;
}
#sandYellow {
  background-color: #c2b280;
}
#oliveGreen {
  background-color: #808000;
}

// Sixth line
#white {
  background-color: #ffffff;
}
#grey1 {
  background-color: #cccccc;
}
#grey2 {
  background-color: #999999;
}
#grey3 {
  background-color: #666666;
}
#grey4 {
  background-color: #333333;
}
#black {
  background-color: #000000;
}
